.title {
    background-color: darkkhaki;
}

.continentMenu {
    background-color: darkkhaki; /*specifiek per graad*/
}

.continentButton a:link, .continentButton a:visited {
    color: darkkhaki;
}

/*Niet specifiek per graad maar moet in deze stylesheet anders zal kleur tekst niet wijzigen bij hover*/
.continentButton a:hover {
    color: darkgrey;
}

.landButton a {
    background-color: darkkhaki;
}

/*Determinatie*/
.determinatiaMenu {
    background-color: darkkhaki;
}

#VraagContent a {
    background-color: darkkhaki;
}
